AIVAULT_API_KEY=rsk_AEJHTm12FXYYhMRaQ7rJq4KdF86f8VZmDMHt6Wbu2fg
ADMIN_PASSWORD=B@o17icit
WEBHOOK_SECRET=
MARKUP=1.5
MMK_RATE=4500
PAY_INFO=KPay: 09-751759698 (Arkar Soe) | WavePay: 09-751759698 (Arkar Soe) | CBPay: 09-751759698 (Arkar Soe)
PORT=3000
